/* scss-lint:disable all */

/* Change font */
#documentView {
    font-family: Avenir Next !important;
}

/* Set to dark background (mainly for startup screen) */
body {
    background-color: rgb(42, 49, 53);
}


/* Hide star menu from header */
.header > .starMenu {
    display: none;
}

/* Show full, multi-line notes */
.noted > .notes > .content {
    height: auto !important;
    max-height: inherit !important;

    overflow: visible !important;
    -webkit-line-clamp: inherit !important;
    white-space: inherit !important;
}


/* Make links one line */
.notes .content:not(:focus) .contentLink {
    display: -webkit-inline-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;

    overflow-x: hidden;
    max-width: 100%;
}
